.header {
    width: 100%;
    background-color: var(--light-200);
    border: 1px solid var(--light-200);
    text-align: center;
    color: var(--brand-text);
    height: 32rem;
}

.shadow
{
  position: relative;
  box-shadow:0px 40px 20px -30px rgba(0,0,0,0.2), 0px 10px 10px -10px rgba(0,0,0,0.5);;
}

.header h1 {
    margin-top: 2.5rem;
    font-size: 1.8rem;
}
.header h2 {
    font-weight: 300;
    font-size: var(--text-size-2);
    line-height: 1.5rem;
    margin: 1rem 2rem
}


.photo {
    position: absolute;
    bottom:0;
    left:0;
    height: 500px;
    width: 1025px;
    margin: 0;
    z-index: 10;
}

@media screen and (min-width: 800px) {
    .header {
        height: 30rem;
    }

    .header h1 {
        font-size: 2rem;
    }
}