@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');


:root {
--brand-main: hsl(84, 97%, 24%);
--brand-200: hsl(83, 29%, 88%);
--brand-300: hsl(84, 36%, 65%);
--brand-400: hsl(84, 41%, 44%);
--brand-500: hsl(84, 100%, 18%);
--brand-dark: hsl(84, 100%, 14%);
--brand-text: hsl(84, 26%, 15%);
--light-100: hsl(30, 58%, 95%);
--light-200: hsl(30, 77%, 91%);
--light-300: hsl(30, 52%, 85%);
--light-20: hsla(30, 77%, 91%, 0.4);
--brand-main-50: hsla(84, 97%, 24%, 0.5);
--brand-main-80: hsla(84, 97%, 24%, 0.8);
--brand-main-90: hsla(84, 97%, 24%, 0.9);
--warning: hsl(36, 94%, 42%);

--text-size-0: 0.5rem;
--text-size-1: 0.85rem;
--text-size-2: 1rem;

--shadow0: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

--shadow1: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

--shadow2: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

--shadowTop: rgba(0, 0, 0, 0.07) 0px -1px 1px -5px, rgba(0, 0, 0, 0.07) 0px -2px 2px -5px, rgba(0, 0, 0, 0.07) 0px -4px 4px -5px, rgba(0, 0, 0, 0.07) 0px -8px 8px -5px, rgba(0, 0, 0, 0.07) 0px -16px 16px -5px;

}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Helvetica Neue, sans-serif;
  background-color: var(--light-100);
  color: var(--brand-text);
}

* {
  box-sizing: border-box;
}
*:focus{
    outline: 2px solid var(--brand-300);
}
a {
  color: inherit;
  text-decoration: none;
}


h1 {
  line-height: 1.3em;
}

.mt-2{
  margin-top: 2rem
}